                    </div> <!-- .panel-body end -->
                    </section> <!-- .panel end -->
                </div> <!-- .row-content end -->
                <div class="row-nav-next col-md-1">
                    <a class="navigation prev" href="{{.GetParam "next"}}">
                    <i class="fa fa-angle-right"></i>
                    </a>
                </div>
              </div>
              <!-- page start-->
          </section>
      </section>
     <!--main content end-->
  </section>
  <!-- container section end -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/js/scripts.js"></script>
    <script async defer id="github-bjs" src="/js/buttons.js"></script>
    {{ partial "analytics.html" . }}
  </body>
</html>
