<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{ .Site.BaseUrl }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="{{ .Site.BaseUrl }}/favicon.ico" type="image/x-icon" />

    <title>{{.Title}}</title>

    <link href="{{ .Site.BaseUrl }}/css/bootstrap-theme.css" rel="stylesheet">
    <link href="{{ .Site.BaseUrl }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ .Site.BaseUrl }}/css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseUrl }}/css/style-responsive.css" rel="stylesheet" />
    <link href="{{ .Site.BaseUrl }}/css/monokai_sublime.css" rel="stylesheet" />

  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">

      <!--header start-->
      <header class="header black-bg">
            <div class="toggle-nav">
                <i class="fa fa-bars"></i>
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--logo start-->
            <a href="/" class="logo"><img src="/img/logo.png" style="height:40px;"></a>
            <!--logo end-->
            <div class="top-nav notification-row">
                <!-- notification dropdown end-->
                <div class="hidden-xs nav-github pull-right">
                    <span rel="show-github" data-user="{{.Site.Params.GitHubUser}}" data-repo="{{.Site.Params.GitHubRepo}}" data-type="follow"></span>
                    <span rel="show-github" data-user="{{.Site.Params.GitHubUser}}" data-repo="{{.Site.Params.GitHubRepo}}"></span>
                    <span rel="show-github" data-user="{{.Site.Params.GitHubUser}}" data-repo="{{.Site.Params.GitHubRepo}}" data-type="fork"></span>
                </div>
            </div>

            <div class="nav title-row" id="top_menu">
                <h1 class="nav top-menu"> {{.Title}} </h1>
            </div>
      </header>
      <!--header end-->

      {{ partial "menu.html" . }}

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="row-nav-prev col-md-1">
                      <a class="navigation prev" href="{{.GetParam "prev"}}">
                      <i class="fa fa-angle-left"></i>
                      </a>
                  </div>
                <div class="row-content col-md-10">
                    <section class="panel">
                    <div class="panel-body">
